[Unit]
Description=Auth reverse proxy for registry
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c "docker pull coco/coco-registry-up"
ExecStart=/bin/sh -c "\
  UP_PASSWORD=$(etcdctl get /ft/_credentials/registry/up-password); \
  docker run --name %p --rm -p 81:80 --link registry:registry -e "UP_PASSWORD=$UP_PASSWORD" coco/registry-proxy"

Restart=on-failure
RestartSec=10

[X-Fleet]
MachineOf=registry.service
